<!DOCTYPE html>
<html lang="es">
<head th:replace="layouts/fragmentos :: cabecera" ></head>
<body>
    <nav th:replace="layouts/fragmentos :: barra"></nav>
    
    <div id="layoutPanel">
        <div th:replace="layouts/fragmentos :: menuIzquierda"></div>

        <div id="layoutContenido">
            <div class="container">
            <div class="card">
                <div class="card-header">
                    <h4>Editar categoría</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/categoria/guardar}" th:object="${categoria}" method="post">
                        <input type="hidden" th:field="*{id}"></input>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Nombre de la categoría:</label>
                                <input th:field="*{nombre}" type="text" class="form-control" placeholder="Ingrese nombre"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Descripción de la categoría:</label>
                                <input th:field="*{descripcion}" type="text" class="form-control" placeholder="Ingrese descripción"/>
                            </div>
                        </div>
                        <div class ="row mt-4">
                            <div class = "col-12 text-center">
                                <a th:href="@{/categoria/}" class="btn btn-secondary">
                                    <i class="fa-solid fa-ban"></i> Cancelar
                                </a>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-dark">
                                    <i class="fa-solid fa-floppy-disk"></i> Modificar Categoría
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <footer th:replace="layouts/fragmentos :: footer"></footer>
        </div>
    </div>
    <div th:replace="layouts/fragmentos :: librerias"></div>
</body>
</html>